{% extends "headhunt/base.html" %}

{% block content %}
    <h1>Registration</h1>
    <p style="text-align : center">가입유형을 선택하세요.</p>
    <a href="{%url 'register_client'%}"><button type="button" class="btn btn-default btn-lg">클라이언트로 가입</button></a>
    <a href="{%url 'register_freelancer'%}"><button type="button" class="btn btn-default btn-lg">프리랜서로 가입</button></a>

<!--
    <form method = "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = "submit" >Register</button>
    </form>
-->
{% endblock %}