{% extends "headhunt/base.html" %}

{% block content %}
    <h1>Make request</h1>
    <form class="form-horizontal" method = "POST">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2">제목</label>
            <div class="col-sm-5">
              {{ form.reqtitle }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">의뢰 금액(원)</label>
            <div class="col-sm-2">
              {{ form.fund }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">최소 경력(년)</label>
            <div class="col-sm-2">
              {{ form.min_exp }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">최소 인원(명)</label>
            <div class="col-sm-2">
              {{ form.min_fre }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">최대 인원(명)</label>
            <div class="col-sm-2">
              {{ form.max_fre }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">모집 시작 날짜</label>
            <div class="col-sm-2">
              {{ form.start_date }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">모집 마감 날짜</label>
            <div class="col-sm-2">
              {{ form.end_date }}
            </div>
        </div>
        <div class="form-group" id="rdocs">
            <label class="control-label col-sm-2">의뢰 문서</label>
            <div class="col-sm-2">
              <input type="file" id="reqdoc" style="margin-top:5px;" accept=".doc, .docx,.ppt, .pptx,.txt,.pdf" onchange='uploadfile()' multiple>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">등록</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript_tail %}
<script type="text/javascript">
var rfiles = [];
var datecheck = false;

function todatecheck(){
    datecheck = false;
    var from = document.getElementById('id_start_date').value;
    var to= document.getElementById('id_end_date').value;
    if(from!=""){
        var splitFrom = from.split('/');
        var splitTo = to.split('/');
        var fromDate = Date.parse(splitFrom[0], splitFrom[1] - 1, splitFrom[2]);
        var toDate = Date.parse(splitTo[0], splitTo[1] - 1, splitTo[2]);
        datecheck = fromDate < toDate;
        if(!datecheck){
            alert("마감 날짜는 시작 날짜보다 이전이어야 합니다.");
            document.getElementById('id_end_date').value = "";
        }
    }
}

function fromdatecheck(){
    datecheck = false;
    var from = document.getElementById('id_start_date').value;
    var to= document.getElementById('id_end_date').value;
    if(to!=""){
        var splitFrom = from.split('/');
        var splitTo = to.split('/');
        var fromDate = Date.parse(splitFrom[0], splitFrom[1] - 1, splitFrom[2]);
        var toDate = Date.parse(splitTo[0], splitTo[1] - 1, splitTo[2]);
        datecheck = fromDate < toDate;
        if(!datecheck){
            alert("시작 날짜는 마감 날짜 이후여야 합니다.");
            document.getElementById('id_start_date').value = "";
        }
    }
}

function uploadfile(){
    var x = document.getElementById('reqdoc');
    var newfiles = [];
    if ('files' in x) {
        if (x.files.length == 0) {
            txt = "Select one or more files.";
        }
        else {
            var dup = false;
            for (var i = 0; i < x.files.length; i++) {
               for (var j=0; j<rfiles.length; j++){
                    if(x.files[i].name==rfiles[j].name){
                        dup = true;
                        alert("이름이 같은 파일이 존재합니다.")
                    }
               }
               if (dup==false){
                    var txt = "";
                    rfiles.push(x.files[i]);
                    var div = document.createElement('div');
                    div.setAttribute("class", "col-sm-offset-2 col-sm-10");
                    div.setAttribute("style", "margin-top:5px;");
                    txt += "<div class = 'col-sm-3'>" + x.files[i].name + "</div>";
                    txt += "<div class = 'col-sm-1'><input type='button' class='btn btn-default btn-xs'  style='margin-top: 1px; margin-left:20px;' value='삭제' onclick='remove_file(this)'></div>";
                    div.innerHTML = txt;
                    document.getElementById('rdocs').appendChild(div);
                }
             }
         }
    }
}

function remove_file(obj){
    // obj.parentNode 를 이용하여 삭제
    var file = obj.parentNode.parentNode.childNodes[0].innerHTML;
    const idx = rfiles.findIndex(function(item) {return item.name === file})
    if (idx > -1) rfiles.splice(idx, 1);
    document.getElementById('rdocs').removeChild(obj.parentNode.parentNode);
}
</script>
{% endblock %}