{% extends "headhunt/base.html" %}

{% block content %}
    <h1>Make request</h1>
    <form class="form-horizontal" method = "POST">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2">제목</label>
            <div class="col-sm-5">
              {{ form.reqtitle }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">의뢰 금액(원)</label>
            <div class="col-sm-2">
              {{ form.fund }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">최소 경력(년)</label>
            <div class="col-sm-2">
              {{ form.min_exp }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">최소 인원(명)</label>
            <div class="col-sm-2">
              {{ form.min_fre }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">최대 인원(명)</label>
            <div class="col-sm-2">
              {{ form.max_fre }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">모집 시작 날짜</label>
            <div class="col-sm-2">
              {{ form.start_date }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">모집 마감 날짜</label>
            <div class="col-sm-2">
              {{ form.end_date }}
            </div>
        </div>
        <div class="form-group" id="lang_prof">
            <label class="control-label col-sm-2">언어별 능숙도</label>
            <div id="langchoice">
                <div class="col-sm-2">
                    <select class="form-control" id="id_language">
                        <option>﻿Java</option>
                        <option>Python</option>
                        <option>C</option>
                        <option>C++</option>
                        <option>PyPy</option>
                        <option>Ruby</option>
                        <option>Kotlin</option>
                        <option>Swift</option>
                        <option>C#</option>
                        <option>node.js</option>
                        <option>Go</option>
                        <option>D</option>
                        <option>F#</option>
                        <option>PHP</option>
                        <option>Rust</option>
                        <option>Pascal</option>
                        <option>Lua</option>
                        <option>Perl</option>
                        <option>R</option>
                        <option>Objective-C</option>
                        <option>Objective-C++</option>
                        <option>Golfscript</option>
                        <option>Assembly (32bit)</option>
                        <option>Assembly (64bit)</option>
                        <option>VB.NET</option>
                        <option>Bash</option>
                        <option>Fortran</option>
                        <option>Scheme</option>
                        <option>Ada</option>
                        <option>awk</option>
                        <option>OCaml</option>
                        <option>Brainfuck</option>
                        <option>Whitespace</option>
                        <option>Tcl</option>
                        <option>Rhino</option>
                        <option>Cobol</option>
                        <option>Pike</option>
                        <option>sed</option>
                        <option>Boo</option>
                        <option>Intercal</option>
                        <option>bc</option>
                        <option>Nemerl</option>
                        <option>Cobra</option>
                        <option>Algol</option>
                        <option>Befunge</option>
                        <option>Haxe</option>
                        <option>LOLCODE</option>
                        <option>아희</option>
                    </select>
                </div>
                <div class="col-sm-1">
                    <label class="radio-inline"><input type="radio" name="proficiency" value="1.0"checked>★</label>
                </div>
                <div class="col-sm-1">
                    <label class="radio-inline"><input type="radio" name="proficiency" value="2.0">★★</label>
                </div>
                <div class="col-sm-1">
                    <label class="radio-inline"><input type="radio" name="proficiency" value="3.0">★★★</label>
                </div>
                <div class="col-sm-1">
                    <label class="radio-inline"><input type="radio" name="proficiency" value="4.0">★★★★</label>
                </div>
                <div class="col-sm-1">
                    <label class="radio-inline"><input type="radio" name="proficiency" value="5.0">★★★★★</label>
                </div>
                <div class="col-sm-1">
                <button id = "add_lang" type = "button" class="btn btn-default btn-xs"  style="margin-top:7px; margin-left:10px;" onclick="add_language()"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>
        <div class="form-group" id = "hidden">
        </div>
        <!--
        <div class="form-group" id="rdocs">
            <label class="control-label col-sm-2">의뢰 문서</label>
            <div class="col-sm-2">
              <input type="file" id="reqdoc" style="margin-top:5px;" accept=".doc, .docx,.ppt, .pptx,.txt,.pdf" multiple>
            </div>
        </div>
        -->
        <form enctype="multipart/form-data" method = "post">
            <input type="file" id="file" name="file[]" style="margin-top:5px;" accept=".doc, .docx,.ppt, .pptx,.txt,.pdf" multiple>
        </form>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" onclick='uploadFile()'>등록</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript_tail %}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
var rfiles = [];
var datecheck = false;
var langdict = {}

function todatecheck(){
    datecheck = false;
    var from = document.getElementById('id_start_date').value;
    var to= document.getElementById('id_end_date').value;
    if(from!=""){
        var splitFrom = from.split('/');
        var splitTo = to.split('/');
        var fromDate = Date.parse(splitFrom[0], splitFrom[1] - 1, splitFrom[2]);
        var toDate = Date.parse(splitTo[0], splitTo[1] - 1, splitTo[2]);
        datecheck = fromDate < toDate;
        if(!datecheck){
            alert("마감 날짜는 시작 날짜보다 이후여야 합니다.");
            document.getElementById('id_end_date').value = "";
        }
    }
}

function fromdatecheck(){
    datecheck = false;
    var from = document.getElementById('id_start_date').value;
    var to= document.getElementById('id_end_date').value;
    if(to!=""){
        var splitFrom = from.split('/');
        var splitTo = to.split('/');
        var fromDate = Date.parse(splitFrom[0], splitFrom[1] - 1, splitFrom[2]);
        var toDate = Date.parse(splitTo[0], splitTo[1] - 1, splitTo[2]);
        datecheck = fromDate < toDate;
        if(!datecheck){
            alert("시작 날짜는 마감 날짜 이전이이어야 합니다.");
            document.getElementById('id_start_date').value = "";
        }
    }
}

function add_language(){
    var lang = document.getElementById('id_language').value;
    var prof = document.querySelector('input[name="proficiency"]:checked').value;
    var prof_star = ""
    if(prof==1.0)
        prof_star = "★";
    else if(prof==2.0)
        prof_star = "★★";
    else if(prof==3.0)
        prof_star = "★★★";
    else if(prof==4.0)
        prof_star = "★★★★";
    else if(prof==5.0)
        prof_star = "★★★★★";
    if(lang in langdict)
        alert("이미 입력된 언어입니다.");
    else{
        langdict[lang] = prof;
        var div = document.createElement('div');
        div.setAttribute("class", "col-sm-10");
        div.innerHTML = "<div class='col-sm-offset-2 col-sm-5' style='margin-top:5px;'><div class='col-sm-2' name = 'langname' style='margin-top:1px; margin-left:10px;'>" + lang + "</div>" + "<div class='col-sm-3' style-'margin-top:5px;'>" + prof_star + "</div><div class = 'col-sm-1'><input type='button' class='btn btn-default btn-xs'  style='margin-top: 1px; margin-left:20px;' value='삭제' onclick='remove_lang(this)'></div></div>";
        document.getElementById('langchoice').appendChild(div);
    }
}

function remove_lang(obj){
    // obj.parentNode 를 이용하여 삭제
    var lang = obj.parentNode.parentNode.parentNode.childNodes[0].childNodes[0].innerHTML;
    delete langdict[lang];
    document.getElementById('langchoice').removeChild(obj.parentNode.parentNode.parentNode);
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

/*
function uploadFile() {
    var form_data = new FormData();
    jQuery.each(jQuery('#file')[0].files, function(i, file) {
        form_data.append('file-'+i, file);
    });
    $.ajax({
        type: 'POST',
        url: '',
        data: {
            form_data: form_data,
            csrfmiddlewaretoken : '{{ csrf_token }}',
        },

        success: function(result){
            alert("wow");
            before_submit();
        }
    });
}*/

function uploadFile() {

    $.ajax({
        type: 'POST',
        url: '',
        data: function() {
            var data = new FormData();
            data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            jQuery.each(jQuery('#file')[0].files, function(i, file) {
                form_data.append('file-'+i, file);
            });
            return data;
        },
        success: function(result){
            alert("wow");
            before_submit();
        }
    });
}

function before_submit() {
    alert("저도요");
    var param = document.getElementById('hidden');
    var langs = document.createElement('input');
    langs.type='hidden';
    langs.name='language';
    var langstr = '';
    for (lang in langdict) {
        langstr = langstr + lang + ':' + langdict[lang] + ', ';
    }
    langstr = langstr + 'dummy';
    langs.value = langstr;
    param.appendChild(langs);
    return true;
}

$(document).on("click", "#add_lang", function(){
           alert("실행됨");
    });



</script>
{% endblock %}