{% extends "headhunt/base.html" %}

{% block content %}
    <h1>의뢰 상세 정보</h1>
        <div>
            <p>의뢰번호: {{ req.0 }}</p>
            <p>의뢰자: {{ req.11 }}</p>
            <p>의뢰자 평점: {{ req.10 }}</p>
            <p>제목: {{ req.12 }} </p>
            <p>의뢰 금액(원): {{ req.1 }} </p>
            <p>최소 경력(년): {{ req.4 }}</p>
            <p>최소 인원(명): {{ req.5 }}</p>
            <p>최대 인원(명): {{ req.6 }}</p>
            <p>모집 시작 날짜: {{ req.2 }}</p>
            <p>모집 마감 날짜: {{ req.3 }}</p>
            <p>언어 능숙도 조건:</p>
            <table class="table">
                <thead>
                <tr></tr>
                <tr>
                <th>Language</th>
                <th>Proficiency</th>
                </tr>
                </thead>
                {% for p in proficiency %}
                <tbody>
                <tr>
                <td>{{ p.0 }}</td>
                <td>{{ p.1 }}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
             <button type="button" name ="accept" class="btn btn-default btn-xs">수락</button>
        </div>
{% endblock %}

{% block javascript_tail %}
<script>
    $(document).on("click", "button[name=accept]", function(){
           $.ajax({
                type: 'POST',
                url : '../check_accept_req/',
                data : {REQ_ID: {{ req.0 }},
                        F_ID: '{{request.session.id}}',
                        csrfmiddlewaretoken : '{{ csrf_token }}' },
                success : function(result){
                    if(result=="True"){
                        window.location.href = "{%url 'request_accept'%}";
                    }
                    else if (result == "noExp") {
                        alert("경력이 충분하지 않습니다.");
                    }
                    else if (result == "noPeople") {
                        alert("인원이 부족합니다. 팀으로 수락하시거나 팀원을 추가하시기 바랍니다.");
                    }
                    else{
                        alert("언어 능숙도 조건을 만족하지 않습니다.");
                    }
                }
            });
    });
</script>
{% endblock %}