{% extends "headhunt/base.html" %}

{% block content %}
    <h1>의뢰 수락</h1>
    <h3>의뢰 목록</h3>
        <button id="sort_date" type="submit" class="btn btn-default btn-sm">날짜순 정렬</button>
        <button id="sort_fund" type="submit" class="btn btn-default btn-sm">금액순 정렬</button>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>제목</th>
                <th>의뢰 금액(원)</th>
                <th>최소 인원(명)</th>
                <th>모집 시작 날짜</th>
            </tr>
            </thead>
            <tbody>
            {% for req in myRequest %}
            <tr>
                <td> <a href="{%url 'request_content' req.8 %}">{{ req.0 }}</a></td>
                <td>{{ req.1 }}</td>
                <td>{{ req.3 }}</td>
                <td>{{ req.5 }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
{% endblock %}