{% extends 'mypage/mypage_base.html' %}

{% block innercontent %}
    {% if request.session.user_type == "c" %}
        <!--클라이언트로 로그인했을 때-->
        <p>클라이언트 마이페이지</p>
        <div>
            <h2>정보조회 및 수정</h2>
            <div>
                <h3>평판 조회</h3>
                <p>Your Rating: {{rating}} </p>
            </div>
            <div>
                <h3>개인정보 조회</h3>
                <p>UserName: {{ info.0.0 }}</p>
                <p>Phon_num: {{ info.0.1 }}</p>
                <a href="{%url 'update_client'%}"><button type="button" class="btn btn-default btn-lg">개인정보 수정</button></a>
            </div>
            <p></p>
        </div>
    {% elif request.session.user_type == "f" %}
        <!--프리랜서로 로그인했을 때-->
        <p>프리랜서 마이페이지</p>
        <div>
            <h2>정보조회 및 수정</h2>
            <div>
                <h3>평판 조회</h3>
                <p>Your Rating: {{rating}} </p>
            </div>
            <div>
                <h3>개인정보 조회</h3>
                <p>UserName: {{ info.0.0 }}</p>
                <p>Phon_num: {{ info.0.1 }}</p>
                <p>나이 : {{ f_info.0.0 }}</p>
                <p>경력 : {{ f_info.0.1 }}</p>
                <p>전공 : {{ f_info.0.2 }}</p>
                <p>언어 능숙도:</p>
                <table class="table">
                    <thead>
                    <tr></tr>
                    <tr>
                    <th>Language</th>
                    <th>Proficiency</th>
                    </tr>
                    </thead>
                    {% for p in proficiency %}
                    <tbody>
                    <tr>
                    <td>{{ p.0 }}</td>
                    <td>{{ p.1 }}</td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <a href="{%url 'update_freelancer'%}"><button type="button" class="btn btn-default btn-lg">개인정보 수정</button></a>
            </div>
            <p></p>
        </div>
    {% elif request.session.user_type == "a" %}
        <p>관리자입니다.</p>
    {% else %}
        <p>로그인하세요.</p>
    {% endif %}
{% endblock %}

{% block bye %}
    <p> bye, bye, bye</p>
{% endblock %}