{% extends 'mypage/mypage_base.html' %}

{% block innercontent %}
<h1>포트폴리오 관리</h1>
<h3>내부 포트폴리오</h3>
<table class="table table-hover">
    <tbody id="in_portfolio">
    <tr>
        <th>Req_title</th>
        <th>Fund</th>
        <th>Frating</th>
        <th>Crating</th>
    </tr>
{% for req in portI %}
<tr>
    <td>{{ req.0.1 }}</td>
    <td>{{ req.0.2 }}</td>
    <td>{{ req.0.10 }}</td>
    <td>{{ req.0.11 }}</td>
</tr>
{% endfor %}
    </tbody>
</table>

<h3>외부 포트폴리오</h3>


{% endblock %}

{% block bye %}
    <p> bye, bye, bye</p>
{% endblock %}