{% extends 'mypage/mypage_base.html' %}

{% block innercontent %}
<h1>의뢰 관리</h1>

<button id="sort_date" type="submit" class="btn btn-default btn-sm">날짜순 정렬</button>
<button id="sort_fund" type="submit" class="btn btn-default btn-sm">금액순 정렬</button>

<h3>구인 대기중인 의뢰 목록</h3>
<table class="table table-hover">
            <tbody id="myreqlist0">
            <tr>
                <th>Req_title</th>
                <th onclick="sortTable(0)">Start</th>
                <th>End</th>
                <th>Min_exp</th>
                <th>Min_freelancer</th>
                <th>Max_freelancer</th>
                <th onclick="sortTable(1)">Fund</th>
            </tr>
        {% for req in request0 %}
        <tr>
            <td>{{ req.0.1 }}</td>
            <td>{{ req.0.2 }}</td>
            <td>{{ req.0.3 }}</td>
            <td>{{ req.0.4 }}</td>
            <td>{{ req.0.5 }}</td>
            <td>{{ req.0.6 }}</td>
            <td>{{ req.0.7 }}</td>
            <td>
                <button type = "button" id = "{{req.0.0}}" name = "editing" class="btn btn-default btn-xs"  style="margin-top:1px; margin-bottom: 1px;">수정</button>
            </td>
            <td>
            {%if req.0.8 != 2 %}
                <button type = "button" id = "{{req.0.0}}" name = "removing" class="btn btn-default btn-xs"  style="margin-top:1px; margin-bottom: 1px;">삭제</button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
            </tbody>
        </table>

<h3>수락 요청중인 의뢰</h3>
<table class="table table-hover">
            <tbody id="myreqlist1">
            <tr>
                <th>Req_title</th>
                <th>Start</th>
                <th>End</th>
                <th>Min_exp</th>
                <th>Min_freelancer</th>
                <th>Max_freelancer</th>
                <th>Fund</th>
            </tr>
        {% for req in request1 %}
        <tr>
            <td> <a href="{%url 'show_freelancer' req.0.0 %}">{{ req.0.1 }}</a></td>
            <td>{{ req.0.2 }}</td>
            <td>{{ req.0.3 }}</td>
            <td>{{ req.0.4 }}</td>
            <td>{{ req.0.5 }}</td>
            <td>{{ req.0.6 }}</td>
            <td>{{ req.0.7 }}</td>
        </tr>
        {% endfor %}
            </tbody>
        </table>

<h3>진행중인 의뢰</h3>
<table class="table table-hover">
            <tbody id="myreqlist2">
            <tr>
                <th>Req_title</th>
                <th>Start</th>
                <th>End</th>
                <th>Min_exp</th>
                <th>Min_freelancer</th>
                <th>Max_freelancer</th>
                <th>Fund</th>
            </tr>
        {% for req in request2 %}
        <tr>
            <td>{{ req.0.1 }}</td>
            <td>{{ req.0.2 }}</td>
            <td>{{ req.0.3 }}</td>
            <td>{{ req.0.4 }}</td>
            <td>{{ req.0.5 }}</td>
            <td>{{ req.0.6 }}</td>
            <td>{{ req.0.7 }}</td>
        </tr>
        {% endfor %}
            </tbody>
        </table>

<h3>완료 요청이 온 의뢰</h3>
<table class="table table-hover">
            <tbody id="myreqlist3">
            <tr>
                <th>Req_title</th>
                <th>Start</th>
                <th>End</th>
                <th>Min_exp</th>
                <th>Min_freelancer</th>
                <th>Max_freelancer</th>
                <th>Fund</th>
            </tr>
        {% for req in request3 %}
        <tr>
            <td> <a href="{%url 'completeAsk_content' req.0.0 %}">{{ req.0.1 }}</a></td>
            <td>{{ req.0.2 }}</td>
            <td>{{ req.0.3 }}</td>
            <td>{{ req.0.4 }}</td>
            <td>{{ req.0.5 }}</td>
            <td>{{ req.0.6 }}</td>
            <td>{{ req.0.7 }}</td>
            </td>
        </tr>
        {% endfor %}
            </tbody>
        </table>

<h3>완료된 의뢰</h3>
<table class="table table-hover">
    <tbody id="myreqlist4">
        <tr>
            <th>제목</th>
            <th>Start</th>
            <th>End</th>
            <th>최소경력</th>
            <th>최소인원</th>
            <th>최대인원</th>
            <th>Fund</th>
            <th>의뢰자 평가 여부</th>
            <th>평가하기</th>
        </tr>
        {% for req in request4 %}
        <tr>
            <td>{{ req.0.1 }}</td>
            <td>{{ req.0.2 }}</td>
            <td>{{ req.0.3 }}</td>
            <td>{{ req.0.4 }}</td>
            <td>{{ req.0.5 }}</td>
            <td>{{ req.0.6 }}</td>
            <td>{{ req.0.7 }}</td>
            <td id = {{req.0.0}}{{req.2}}>{{ req.2 }}</td>
            {% if req.2 == 'X' %}
            <td>
                <div class="col-sm-1">
                    <label class="radio-inline"><input type="radio" name="frating" value="1.0"checked>★</label>
                </div>
                <div class="col-sm-1">
                    <label class="radio-inline"><input type="radio" name="frating" value="2.0">★★</label>
                </div>
                <div class="col-sm-1">
                    <label class="radio-inline"><input type="radio" name="frating" value="3.0">★★★</label>
                </div>
                <div class="col-sm-1">
                    <label class="radio-inline"><input type="radio" name="frating" value="4.0">★★★★</label>
                </div>
                <div class="col-sm-1">
                    <label class="radio-inline"><input type="radio" name="frating" value="5.0">★★★★★</label>
                </div>
            <a href = "{% url 'myrequest_client' %}">
                <button type = "button" id = "{{req.0.0 }}" name = "Frating" class="btn btn-default btn-xs"  style="margin-top:1px; margin-bottom: 1px;">평가하기</button>
            </a>
            </td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
            </tbody>
        </table>
{% endblock %}

{% block javascript_tail %}
<script type="text/javascript">

   $(document).on("click", "button[name=removing]", function(){

           $.ajax({
                type: 'POST',
                url : '../remove_myrequest_client/',
                data : {REQ_ID: $(this).attr('id'),
                        csrfmiddlewaretoken : '{{ csrf_token }}' },
                success : function(result){
                    alert("의뢰 삭제 완료");
                }
            });

            $(this).parent().parent().remove();
    });

    $(document).on("click", "button[name=Frating]", function(){
            var frating = document.querySelector('input[name="frating"]:checked').value;
            alert(frating);
            $.ajax({
                type: 'POST',
                url : '../update_freerating/',
                data : {REQ_ID: $(this).attr('id'),
                        Frating: frating,
                        csrfmiddlewaretoken : '{{ csrf_token }}' },
                success : function(result){
                    alert("프리랜서 평가 완료");
                }
            });
    });

</script>
{% endblock %}