{% extends 'mypage/mypage_base.html' %}

{% block innercontent %}
    <!--프리랜서로 로그인했을 때-->
    <p>프리랜서 마이페이지</p>
    <h2>팀 생성</h2>
    <form class="form-horizontal" id="mainform" method = "POST">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2">팀 이름</label>
            <div class="col-sm-4">
              {{ form.tName }}
            </div>
            <div class="col-sm-1">
                <button id = "tNameCheck" type = "button" class="btn btn-default btn-xs"  style="margin-top:7px; margin-left:10px;"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">팀장</label>
            <div class='col-sm-2' name = 'userid' style='margin-top:1px; margin-left:10px;'>
                {{ request.session.id }}
            </div>
        </div>
        <div class="form-group" id="team_users">
            <label class="control-label col-sm-2">ID 추가</label>
            <div id = 'idChoice'>
                <div class="col-sm-4">
                  {{ form.id }}
                </div>
                <div class="col-sm-1">
                <button id = "idCheck" type = "button" class="btn btn-default btn-xs"  style="margin-top:7px; margin-left:10px;"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>
        <div class="form-group" id = "hidden">
        </div>
        <div class="form-group" id="register-button">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success btn-md" onclick='before_submit()'>팀 생성</button>
            </div>
        </div>
        <h2>팀 관리</h2>
        <div>
            <h3>내가 속한 팀 조회</h3>
            <table border="'1">
            <tr>
                <th>팀 이름</th>
                <th>팀 리더</th>
                <th>팀 인원</th>
                <th>팀원</th>
            </tr>
            {% for info in teamInfo %}
            <tr>
                <td>{{ info.0 }}</td>
                <td>{{ info.1 }}</td>
                <td>{{ info.2 }}</td>
                <td>
                    {% for teammate in info.3 %}
                    <div>
                    {% if teammate != request.session.id %}
                        {{ teammate }}
                    {% endif %}
                    </div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </table>
        </div>
        <div>
            <h3>내가 만든 팀 관리</h3>
            <div>
                <h4>팀원 추가 및 추방</h4>
                <table border="'1">
                <tr>
                    <th>팀 이름</th>
                    <th>팀 인원</th>
                    <th>팀원</th>
                    <th>팀 삭제</th>
                </tr>
                {% for info in teamInfoLeader %}
                <tr>
                    <td>{{ info.0.0 }}</td>
                    <td>{{ info.1 }}</td>
                    <td>
                        {% for teammate in info.2 %}
                        <div id = "{{info.0.0}}member">
                        {% if teammate.0 != request.session.id %}
                            {{ teammate.0 }}
                            <button type = "button" id = "{{info.0.0}},{{teammate.0}}" name = "removing_member" class="btn btn-default btn-xs"  style="margin-top:1px; margin-bottom: 1px;">팀원 삭제</button>
                        {% endif %}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <label class="control-label col-sm-2">팀원 추가</label>
                            <div name = "{{info.0.0}}">
                                <input type="text" class="form-control">
                                <div class="col-sm-1" name = "{{info.0.0}}">
                                <button id = "memberCheck" type = "button" class="btn btn-default btn-xs"  style="margin-top:7px; margin-left:10px;"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type = "button" id = "{{info.0.0}}" name = "removing_team" class="btn btn-default btn-xs"  style="margin-top:1px; margin-bottom: 1px;">팀 삭제</button>
                    </td>
                </tr>
                {% endfor %}
                </table>
            </div>

        </div>
    </form>
{% endblock %}

{% block bye %}
    <p> bye, bye, bye</p>
{% endblock %}

{% block javascript_tail %}
<script type="text/javascript">

var idList = ['{{request.session.id}}'];
var tNameCheck = false;
var tmpId, tmpteamname, tmpmemberId;

function before_submit() {
    var param = document.getElementById('hidden');
    var ids = document.createElement('input');
    ids.type='hidden';
    ids.name='teammate';
    ids.value = idList;
    param.appendChild(ids);
    return true;
}

function add_id() {
    var dupCheck = false
    for (i in idList) {
        if (tmpId == idList[i]) {
            alert("이미 입력된 아이디입니다.");
            dupCheck = true;
            break;
        }
    }
    if (dupCheck == false) {
        idList.push(tmpId);
        var div = document.createElement('div');
        div.setAttribute("class", "col-sm-10");
        div.innerHTML = "<div class='col-sm-offset-2 col-sm-5' style='margin-top:5px;'><div class='col-sm-2' name = 'userid' style='margin-top:1px; margin-left:10px;'>" + tmpId + "</div><div class = 'col-sm-1'><input type='button' class='btn btn-default btn-xs'  style='margin-top: 1px; margin-left:20px;' value='삭제' onclick='remove_id(this)'></div></div>";
        document.getElementById('idChoice').appendChild(div);
        alert("팀에 추가합니다.");
    }
}

function remove_id(obj){
    // obj.parentNode 를 이용하여 삭제
    var id = obj.parentNode.parentNode.parentNode.childNodes[0].childNodes[0].innerHTML;
    idList.pop(id);
    document.getElementById('idChoice').removeChild(obj.parentNode.parentNode.parentNode);
}

function add_member() {
    var div = document.createElement('div');
    //div.setAttribute("class", "col-sm-10");
    div.innerHTML = tmpId + '<button type = "button" id = ' + tmpteamname + ',' + tmpId + ' name = "removing_member" class="btn btn-default btn-xs"  style="margin-top:1px; margin-bottom: 1px;">팀원 삭제</button>'
    //div.innerHTML = "<div class='col-sm-offset-2 col-sm-5' style='margin-top:5px;'><div class='col-sm-2' name = 'userid' style='margin-top:1px; margin-left:10px;'>" + tmpId + "</div><div class = 'col-sm-1'><input type='button' class='btn btn-default btn-xs'  style='margin-top: 1px; margin-left:20px;' value='삭제' onclick='remove_id(this)'></div></div>";
    document.getElementById(tmpmemberId).appendChild(div);
}

$(document).on("click", "#idCheck", function(){
    if($("#id_id").val() != ""){
        $.ajax({
            type: 'POST',
            url : '../id_free_check/',
            data : {USER_ID: $('#id_id').val(),
                    csrfmiddlewaretoken : '{{ csrf_token }}' },
            success : function(result){
                if(result=="True"){
                    tmpId = $('#id_id').val()
                    add_id();
                }
                else if(result=="False"){
                    alert("해당 아이디가 없습니다.");
                }
            }
        });
    }
});

$(document).on("click", "#memberCheck", function(){
    if($("#id_memberId").val() != ""){
        $.ajax({
            type: 'POST',
            url : '../member_check/',
            data : {TEAM_ID: $(this).parent().attr('name'),
                    USER_ID: $(this).parent().parent().children('input').val(),
                    csrfmiddlewaretoken : '{{ csrf_token }}' },
            context: this,
            success : function(result){
                if(result=="True"){
                    tmpId = $(this).parent().parent().children('input').val();
                    tmpteamname = $(this).parent().attr('name');
                    tmpmemberId = $(this).parent().attr('name') + 'member';
                    add_member();
                }
                else if(result=="no_id"){
                    alert("없는 아이디입니다.");
                }
                else if (result=="exist_member"){
                    alert("이미 있는 팀원입니다.");
                }
            }
        });
    }
});

$(document).on("click", "#tNameCheck", function(){
    if($("#id_tName").val() != ""){
        $.ajax({
            type: 'POST',
            url : '../tName_check/',
            data : {tName: $('#id_tName').val(),
                    csrfmiddlewaretoken : '{{ csrf_token }}' },
            success : function(result){
                if(result=="True"){
                    alert("사용가능한 팀 이름입니다.");
                    tNameCheck = true;
                }
                else if(result=="False"){
                    alert("팀 이름이 이미 있습니다.");
                    tNameCheck = false;
                }
            }
        });
    }
});

$(document).on("click", "button[name=removing_member]", function(){
       $.ajax({
            type: 'POST',
            url : '../remove_member/',
            data : {USER_ID: $(this).attr('id'),
                    csrfmiddlewaretoken : '{{ csrf_token }}' },
            context: this,
            success : function(result){
                alert("삭제 완료");
                $(this).parent().remove();
            }
        });

});

$(document).on("click", "button[name=removing_team]", function(){
       $.ajax({
            type: 'POST',
            url : '../remove_team/',
            data : {Tname: $(this).attr('id'),
                    csrfmiddlewaretoken : '{{ csrf_token }}' },
            context: this,
            success : function(result){
                alert("삭제 완료");
                $(this).parent().parent().remove();
            }
        });
});
</script>
{% endblock %}