{% extends 'headhunt/base.html' %}

{% block content %}
    {% if request.session.user_type == "c" %}
        <!--클라이언트로 로그인했을 때-->
    {% else %}
        <!--프리랜서로 로그인했을 때-->
    {% endif %}
    {% if request.session.user_type %}
        {{request.session.user_type}}
        <p>hello.</p>
    {% else %}
        <p>로그인해주세요.</p>
    {% endif %}
    {% for user in users %}
        <div>
            <p>ID: {{ user.id }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block bye %}
    <p> byr, byer, by,e</p>
{% endblock %}